<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:sec="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util" 
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.1.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security-3.1.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-3.1.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task.xsd
       ">

    <import resource="classpath:org.rtsl.common.properties.standard.context.xml" />
    <import resource="spring.api.xml" />
    
    <!-- Maybe later :) /-->
    <!-- import resource="spring.android.xml" /-->
   
    <bean id="org.rtsl.common.properties.standard.rawProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="localOverride" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:default.properties</value>
                <value>file:${org.rtsl.dhis2.testtool.properties}</value>
                <value>file:${org.rtsl.dhis2.testtool.1.properties}</value>
                <value>file:${org.rtsl.dhis2.testtool.2.properties}</value>
                <value>file:${org.rtsl.dhis2.testtool.3.properties}</value>
                <value>file:${org.rtsl.dhis2.testtool.4.properties}</value>
                <value>file:${org.rtsl.dhis2.testtool.5.properties}</value>
                <value>file:${org.rtsl.dhis2.testtool.6.properties}</value>
                <value>file:${org.rtsl.dhis2.testtool.7.properties}</value>
                <value>file:${org.rtsl.dhis2.testtool.8.properties}</value>
                <value>file:${org.rtsl.dhis2.testtool.9.properties}</value>
            </list>
        </property>
    </bean>

    <bean id="testUniqueId" class="org.rtsl.dhis2.cucumber.TestUniqueId" scope="cucumber-glue"/>      
    <bean id="organisationUnitFactory" class="org.rtsl.dhis2.cucumber.factories.OrganisationUnit" scope="cucumber-glue"/>
    <bean id="trackedEntityInstanceFactory" class="org.rtsl.dhis2.cucumber.factories.TrackedEntityInstance" scope="cucumber-glue"/>
    <bean id="testAtomicInt" class="java.util.concurrent.atomic.AtomicInteger" scope="cucumber-glue"/>
    <bean id="webDriver" class="org.openqa.selenium.firefox.FirefoxDriver" scope="cucumber-glue"/>              
     
    <bean id="dhis2Config" class="org.hisp.dhis.Dhis2Config">
        <constructor-arg value="${dhis2.api.url}" />
        <constructor-arg value="${dhis2.api.username}" />
        <constructor-arg value="${dhis2.api.password}" />
    </bean>
    
    <bean id="dhisClient" class="org.hisp.dhis.Dhis2">
        <constructor-arg ref="dhis2Config" />
    </bean>        
    
         
    <bean id="dhis2SdkClientBuilder" class="org.hisp.dhis.integration.sdk.Dhis2ClientBuilder" factory-method="newClient">
        <constructor-arg value="${dhis2.api.url}/api" />
        <constructor-arg value="${dhis2.api.username}" />
        <constructor-arg value="${dhis2.api.password}" />
    </bean>
    
                  
    <bean id="dhisSdkClient" factory-bean="dhis2SdkClientBuilder" factory-method="build" />
                       
                    
    <bean id="testClient" class="org.rtsl.dhis2.cucumber.Dhis2HttpClient" scope="singleton">
        <constructor-arg value="${dhis2.api.url}" />
        <constructor-arg value="${dhis2.api.username}" />
        <constructor-arg value="${dhis2.api.password}" />
    </bean>    
         
         
    <bean id="testIdConverter" class="org.rtsl.dhis2.cucumber.Dhis2IdConverter" init-method="getMetadata" scope="singleton">
        <constructor-arg ref="testClient" />
    </bean>                      
                                               
                                              
                                                                          
                                             
</beans>
