
<configuration>

    <appender name="default" class="ch.qos.logback.core.FileAppender">
        <file>/tmp/logs/default.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <immediateFlush>true</immediateFlush>
            <outputPatternAsHeader>false</outputPatternAsHeader>
        </encoder>
        
    </appender>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
        ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <root level="trace">
        <appender-ref ref="console"/>
        <appender-ref ref="default"/>
    </root>



</configuration>